<!DOCTYPE html>
<html lang="en" class="wide wow-animation smoothscroll scrollTo">
  <head>
    <!-- Site Title-->
    <title>Team</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="keywords" content="SANA design multipurpose template">
    <meta name="date" content="Dec 26">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Montserrat:400,700%7CLato:400italic,400,700">
    <link rel="stylesheet" href="css/style.css">
    <!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- Page-->
    <div class="page text-center">
      <!-- Page Content-->
      <main class="page-content">
        <!-- 4 columns layout-->
        <section class="section-98 section-sm-110">
          <div class="shell">
            <h2>4 columns layout</h2>
            <hr class="divider divider-lg bg-secondary">
            <div class="offset-top-41 offset-lg-top-60">
              <div class="range range-xs-center">
                <% @profiles.each do |profile| %>
                  <div class="cell-xs-9 cell-sm-7 cell-md-3">
                    <!-- Thumbnail Josip-->
                    <figure class="thumbnail-josip odd"><a href="<%= profile_path(profile)%>"><img width="270" height="270" src="https://livedemo00.template-help.com/wt_46574_v1/images/users/user-katherine-wong-270x270.jpg" alt=""/></a>
                      <div class="thumbnail-desc">
                        <h4 class="thumbnail-josip-title text-bold text-white"><%= profile.first_name.capitalize %> <%= profile.last_name.upcase %></h4>
                        <p class="veil reveal-md-block text-italic text-white offset-top-0"><%= profile.city %></p>
                      </div>
                      <figcaption><a <%= link_to 'Voir ce profil', profile_path(profile), class: 'btn btn-block btn-rect text-md-left btn-secondary'%></a></figcaption>
                    </figure>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </section>
      </main>
      <!-- Page Footer-->
      <!-- Default footer-->
      <footer class="section-relative section-55 page-footer bg-primary context-dark">
        <div class="shell-wide">
          <div class="inset-xl-left-30">
            <div class="range range-sm-center">
              <div class="cell-sm-8 cell-md-12">
                <div class="range range-md-justify range-md-middle">
                  <div class="cell-md-4 cell-md-push-1 text-md-left">
                    <!-- Footer brand-->
                    <div class="footer-brand reveal-inline-block"><a href="index.html"><img width="158" height="45" src="images/logo.png" alt="" class="img-responsive"></a></div>
                  </div>
                  <div class="cell-md-4 offset-top-55 offset-md-top-0 cell-md-push-3 text-md-right">
                          <ul class="list-inline">
                            <li><a href="#" class="icon fa fa-facebook icon-xxs icon-circle icon-white"></a></li>
                            <li><a href="#" class="icon fa fa-twitter icon-xxs icon-circle icon-white"></a></li>
                            <li><a href="#" class="icon fa fa-google icon-xxs icon-circle icon-white"></a></li>
                            <li><a href="#" class="icon fa fa-rss icon-xxs icon-circle icon-white"></a></li>
                          </ul>
                  </div>
                  <div class="cell-md-4 offset-top-55 offset-md-top-0 cell-md-push-2">
                    <p class="text-white-08">&copy; <span id="copyright-year"></span> All Rights Reserved Terms of Use and <a href="privacy.html" class="text-white-08">Privacy Policy</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!-- Global Mailform Output-->
    <div id="form-output-global" class="snackbars"></div>
    <!-- PhotoSwipe Gallery-->
    <div tabindex="-1" role="dialog" aria-hidden="true" class="pswp">
      <div class="pswp__bg"></div>
      <div class="pswp__scroll-wrap">
        <div class="pswp__container">
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
          <div class="pswp__top-bar">
            <div class="pswp__counter"></div>
            <button title="Close (Esc)" class="pswp__button pswp__button--close"></button>
            <button title="Share" class="pswp__button pswp__button--share"></button>
            <button title="Toggle fullscreen" class="pswp__button pswp__button--fs"></button>
            <button title="Zoom in/out" class="pswp__button pswp__button--zoom"></button>
            <div class="pswp__preloader">
              <div class="pswp__preloader__icn">
                <div class="pswp__preloader__cut">
                  <div class="pswp__preloader__donut"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
            <div class="pswp__share-tooltip"></div>
          </div>
          <button title="Previous (arrow left)" class="pswp__button pswp__button--arrow--left"></button>
          <button title="Next (arrow right)" class="pswp__button pswp__button--arrow--right"></button>
          <div class="pswp__caption">
            <div class="pswp__caption__center"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Java script-->
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
