
<!-- Page-->
<div class="house-main" style="background-color: white">
  <div class='container'>
    <div class="row">
      <div class="page text-center">
        <main class="page-content">
          <!-- 4 columns layout-->
              <section class="section-98 section-sm-110">
              <div class="shell">

                <h2>Choisissez votre département</h2>

                <input type="submit" id="deptpdc" value="Pas-de-Calais" class="btn btn-primary">
                <input type="submit" id="deptnord" value="Nord" class="btn btn-primary">

                <h2> <%= @profiles.count %> professionnels à votre écoute</h2>

                <hr class="divider divider-lg bg-secondary">
                <div class="offset-top-41 offset-lg-top-60">
                  <div class="range range-xs-center" id="choicedpt">



                </div>
              </div>
              </div>
            </section>
        </main>
      </div>
    </div>
  </div>
  <div class="map-index">
    <div id="map" style="width: 100%; height: 100vh;"></div>
    <% content_for(:after_js) do %>
      <%= javascript_tag do %>
        var handler = Gmaps.build('Google');
        handler.buildMap({ internal: { id: 'map' } }, function() {
          markers = handler.addMarkers(<%= raw @markers.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          if (markers.length == 0) {
            handler.getMap().setZoom(2);
          } else if (markers.length == 1) {
            handler.getMap().setZoom(14);
          }
        });
      <% end %>
    <% end %>
  </div>
</div>
<!-- Java script-->
<script src="/assets/core.min.js"></script>
<script src="/assets/script.js"></script>
<script>
  const pdc = document.getElementById("deptpdc");
  pdc.addEventListener("click", (event) => {
    const choice = document.getElementById("choicedpt");
    choice.innerHTML = "<%= j render 'shared/cardspdc' %>";
  });
  const nord = document.getElementById("deptnord");
  nord.addEventListener("click", (event) => {
    const choice = document.getElementById("choicedpt");
    choice.innerHTML = "<%= j render 'shared/cardsnord' %>";
  });

</script>
