<h1>Profiles#index</h1>
<p>Find me in app/views/profiles/index.html.erb</p>

  <div class='container'>
    <div class="row">
      <% @profiles.each do |profile| %>

        <div class="col-lg-6 col-md-12 col-xs-12">
          <%= profile.first_name %>
          <%= profile.last_name %>
          <%= profile.address %>
          <%= profile.city %>
          <%= profile.post_code %>
          <%= profile.category %>
          <%= profile.birthday %>
          <%= profile.phone_number %>
        </div>
        <p><%= link_to 'Voir ce profil', profile_path(profile), class: 'btn btn-rounded'%></p>

      <% end %>
    </div>
  </div>
