<div class="col-xs-12 col-md-8">
  <%= @profile.first_name %> <%= @profile.last_name %>
  <p>Membre depuis <%= @profile.created_at.strftime("%m/%Y") %></p>


<!-- ajouter une restriction sur l'accès à l'edit du profile -->
  <% if @profile.id == current_user.profile.id %>
    <p><%= link_to 'Editer mon profil', edit_profile_path(@profile), class: 'btn btn-rounded'%></p>
  <% end %>
  <p><%= link_to 'Voir les profils', profiles_path, class: 'btn btn-rounded'%></p>
</div>
