<!-- Page-->
<div class="page text-center">
  <div class="breadcrumb-inset-left">
    <!-- Modern Breadcrumbs-->
    <section class="breadcrumb-modern context-dark text-md-left" style="background-image: none">
      <div class="shell section-34 section-md-top-160 section-md-bottom-41", style="color:#434445">
        <h1 style="color:#434445"><%= @profile.first_name.capitalize %> <%= @profile.last_name.upcase %></h1>
        <ul class="list-inline list-inline-arrows p offset-top-34 offset-md-top-70">
          <li> <%= link_to 'Home', root_path %> </li>
          <li> <%= link_to 'Liste', profiles_path %> </li>
          <li> Membre depuis <%= @profile.created_at.strftime("%m/%Y") %> </li>
        </ul>
      </div>
    </section>
  </div>
  <!-- Page Content-->
  <main class="page-content">
    <!-- team member section-->
    <section class="section-98 section-sm-top-34 section-sm-bottom-110">
      <div class="shell">
        <div class="range range-xs-center">
          <div class="cell-xs-10 cell-md-4">
            <!-- Member block type 5-->
            <% if @profile.photo_url.nil? %>
              <div class="member-block-type-5 inset-md-right-20"><img src="http://res.cloudinary.com/dz83jh064/image/upload/v1517834940/dental-care-tools_925x_aew574.jpg" width="320" height="320" alt="" class="img-responsive center-block"/> <!-- options available with cloudinary crop: :thumb, gravity: :face -->
                <!-- ajouter une restriction sur l'accès à l'edit du profile -->
                  <% if current_user.present? && @profile.id == current_user.profile.id %>
                    <p><%= link_to 'éditer mon profil', edit_profile_path(@profile), class: 'btn-fullwidth btn btn-ellipse btn-white offset-sm-top-41 offset-top-41 offset-md-top-60'%></p>
                    <p><%= link_to 'Rédiger un article', new_profile_article_path(@profile), class: 'btn-fullwidth btn-ellipse btn btn-primary'%></p>
                  <% end %>
                  <p><%= link_to 'Voir les profils', profiles_path, class: 'btn-fullwidth btn-ellipse btn btn-primary'%></p>
                  <p><%= link_to 'Donner votre avis', profiles_path, class: 'btn-fullwidth btn-ellipse btn btn-primary' %></p>
              </div>
            <% else  %>
              <div class="member-block-type-5 inset-md-right-20"><%= cl_image_tag @profile.photo, width:"320", height: "320", alt:"", class:"img-responsive center-block" %> <!-- options available with cloudinary crop: :thumb, gravity: :face -->
                <!-- ajouter une restriction sur l'accès à l'edit du profile -->

                  <% if current_user.present? && @profile.id == current_user.profile.id %>
                    <p><%= link_to 'éditer mon profil', edit_profile_path(@profile), class: 'btn-fullwidth btn btn-ellipse btn-white offset-sm-top-41 offset-top-41 offset-md-top-60'%></p>
                    <p><%= link_to 'Rédiger un article', new_profile_article_path(@profile), class: 'btn-fullwidth btn-ellipse btn btn-primary'%></p>
                  <% end %>
                  <p><%= link_to 'Voir les profils', profiles_path, class: 'btn-fullwidth btn-ellipse btn btn-primary'%></p>
                  <p><%= link_to 'Donner votre avis', new_profile_review_path(:profile_id), class: 'btn-fullwidth btn-ellipse btn btn-primary' %></p>
              </div>
            <% end  %>
          </div>
          <div class="cell-xs-10 cell-md-8 text-md-left offset-top-60 offset-md-top-0">
            <div class="range">
              <div class="cell-sm-5">
                <div>Profession</div>
                <h4 class="text-bold"><%= @profile.category %></h4>
              </div>
              <div class="cell-sm-7 offset-top-41 offset-sm-top-0">
                <div>Education</div>
                <h4 class="text-bold">Perelman School of Medicine at the University of Pennsylvania (1987)</h4>
              </div>
            </div>
            <div class="offset-top-66 text-left">
              <h5>Biographie</h5>
              <hr class="text-subline">
              <p><%= @profile.biographie %></p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div id="map" style="width: 100%; height: 400px;"></div>
    <% content_for(:after_js) do %>
      <%= javascript_tag do %>
        var handler = Gmaps.build('Google');
        handler.buildMap({ internal: { id: 'map' } }, function() {
          markers = handler.addMarkers(<%= raw @markers.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          if (markers.length == 0) {
            handler.getMap().setZoom(2);
          } else if (markers.length == 1) {
            handler.getMap().setZoom(14);
          }
        });
      <% end %>
    <% end %>
    <!-- Scott Riley’s blog posts-->


    <section class="section-98 section-sm-110 bg-white-liac">
      <div class="shell">
        <h2>Les articles de <%= @profile.first_name %></h2>
        <hr class="divider divider-lg bg-secondary">
        <div class="offset-top-41 offset-lg-top-60">
          <div class="range range-xs-center">
            <% if @articles.count == 0 %>
              <div class="post-title offset-top-8">
                <h4 class="text-bold">Aucun article publié</h4>
              </div>
            <% else  %>
              <% @articles.each do |article| %>
                <div class="cell-xs-10 cell-sm-8 cell-md-4">
                  <!-- Post Modern-->
                  <article class="post post-modern post-modern-classic">
                    <!-- Post media-->
                    <header class="post-media"><a href="<%= profile_article_path(@profile, article)%>"><%= image_tag article.article_photo, width:'370', height:'250', crop: :thumb, class:'img-responsive img-cover"' %></a>
                    </header>
                    <!-- Post content-->
                    <section class="post-content text-left">
                      <!-- Post Title-->
                      <div class="post-title offset-top-8">
                        <h4 class="text-bold"><a href="<%= profile_article_path(@profile, article)%>"><%= article.article_title %></a></h4>
                      </div>
                      <ul class="list-inline list-inline-dashed">
                        <li><%= article.created_at %></li>
                        <li><a href="#" class="text-secondary">Healthy Lifestyle</a></li>
                      </ul>
                      <!-- Post Body-->
                      <div class="post-body">
                        <div class="offset-top-14">
                          <p><%= article.article_content.first(150) %></p>
                        </div>
                      </div>
                      <div class="tags group group-sm">
                      </div>
                    </section>
                  </article>
                </div>
              <% end %>
            <% end  %>
          </div><a <%= link_to 'Voir tous les articles', pages_all_articles_categories_path, class: 'btn btn-ellipse btn-primary offset-top-41 offset-md-top-60'%></a>
        </div>
      </div>
    </section>
  </main>
</div>
<!-- Java script-->
<script src="/assets/javascripts/core.min.js"></script>
<script src="/assets/javascripts/script.js"></script>
