<div class="page text-center">
      <!-- Page Content-->
      <main class="page-content section-98 section-sm-110">
        <!-- Contact us-->
        <section class="offset-top-90 offset-md-top-130">
          <%= simple_form_for [@profile, @meeting] do |f| %>
            <% @profiles = Profile.all %>
            <% result = [] %>
            <% @profiles.each do |pro| %>
              <% if pro.category == "Dentiste" %>
                <% result << "#{pro.last_name} #{pro.first_name}" %>
              <% end %>
            <% end %>
            <div class="shell">
              <div class="range range-xs-center range-lg-left">
                <div class="cell-sm-8">
                  <h4 class="text-md-left">Envoyer une demande de rendez-vous:</h4>
                  <hr class="text-subline">
                  <div class="offset-top-30">
                    <form data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php" novalidate="novalidate" class="rd-mailform text-left">
                      <div class="range range-xs-center">
                        <div class="cell-sm-6">
                          <div class="form-group form-group-label-outside">
                            <%= f.input :reason ,label:'Motif de la demande de rendez-vous:', type:"text", name:"Prénom", required: true, class: "form-control form-control-last-child" %>
                          </div>
                          <div class="form-group form-group-label-outside offset-top-20">
                            <%= f.input :disponibility ,label:'Vos disponibilités:',  input_html: {style: 'height:150px;'}, required: true, :as => :text,  class: "form-control form-control-last-child" %>
                          </div>
                          <% if @meeting.destinataire %>
                          <div class="form-group form-group-label-outside offset-top-20">
                            <%= f.input :destinataire,label:'Destinataire:', required: true, collection: [@meeting.destinataire],  class: "form-control form-control-last-child" %>
                          </div>
                          <% else %>
                          <div class="form-group form-group-label-outside offset-top-20">
                            <%= f.input :destinataire, label:'Destinataire:', required: true, collection: result.sort,  class: "form-control form-control-last-child" %>
                          </div>
                          <% end %>
                      </div>
                    </div>
                    <div class="offset-top-18 offset-sm-top-30 text-center text-sm-left">
                      <button type="submit" style="min-width: 130px;" class="btn-fullwidth btn btn-ellipse btn-primary ">ENVOYER</button>
                      <p><%= link_to 'Annuler', root_path(current_user.profile), class: 'btn-fullwidth btn btn-ellipse btn-white', style:"margin-top:20px"%></p>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </section>
    </main>
  </div>



