<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo-desc-white.png", height: 50 %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <% if user_signed_in? %>

      <!-- Links when logged in -->
      <%= link_to "Host", "#", class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "Trips", "#", class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "Messages", "#", class: "navbar-wagon-item navbar-wagon-link" %>

      <!-- Avatar with dropdown menu -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <%= image_tag "http://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-cog"></i>  <%= t(".settings", default: "Settings") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>


  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div>
</div>






<div class="page text-center">
  <!-- Page Header-->
  <header class="page-head">
    <!-- RD Navbar minimal-->
    <div class="rd-navbar-wrap">
      <nav data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-static" data-md-stick-up-offset="120px" data-lg-stick-up-offset="120px" class="rd-navbar rd-navbar-minimal rd-navbar-light " data-lg-auto-height="true" data-md-layout="rd-navbar-static" data-lg-layout="rd-navbar-static" data-lg-stick-up="true">
        <div class="rd-navbar-inner">
          <div class="rd-navbar-top-panel">
            <!--Navbar Brand-->
            <div class="rd-navbar-brand veil reveal-md-inline-block"><a href="index.html"><%= image_tag "logo-dark.png", width:'160', height:'45', class:'img-responsive' %></a></div>
            <div>
              <!-- Contact Info-->
              <address class="contact-info reveal-sm-inline-block text-left offset-none">
                <div class="p unit unit-spacing-xs unit-horizontal">
                  <div class="unit-left"><span class="icon icon-xs icon-circle icon-java-filled mdi mdi-phone"></span></div>
                  <div class="unit-body"><a href="callto:#" class="text-gray-darker">+33.3.28.80.7.86</a><br/><a href="callto:#" class="text-gray-darker">hello@handident.com</a></div>
                </div>
              </address>
              <!-- Contact Info-->
              <address class="contact-info reveal-sm-inline-block text-left">
                <div class="p unit unit-horizontal unit-spacing-xs">
                  <div class="unit-left"><span class="icon icon-xs icon-circle icon-java-filled mdi mdi-map-marker"></span></div>
                  <div class="unit-body"><a href="#" class="text-gray-darker">10 rue du Petit Boulevard BP 20127<br/>59653 Villeneuve d'Ascq Cedex</a></div>
                </div>
              </address>
            </div>
          </div>
          <!-- RD Navbar Panel-->
          <div class="rd-navbar-panel">
            <!-- RD Navbar Toggle-->
            <button data-rd-navbar-toggle=".rd-navbar, .rd-navbar-nav-wrap" class="rd-navbar-toggle"><span></span></button>
            <!--Navbar Brand-->
            <div class="rd-navbar-brand veil-md"><a href="index.html"><img width='160' height='45' class='img-responsive' src='images/logo-dark.png' alt=''/></a></div>
            <button data-rd-navbar-toggle=".rd-navbar, .rd-navbar-top-panel" class="rd-navbar-top-panel-toggle"><span></span></button>
          </div>
          <div class="rd-navbar-menu-wrap">
            <div class="rd-navbar-nav-wrap">
              <div class="rd-navbar-mobile-scroll">
                <!--Navbar Brand Mobile-->
                <div class="rd-navbar-mobile-brand"><a href="index.html"><img width='160' height='45' class='img-responsive' src='images/logo-dark.png' alt=''/></a></div>
                <div class="form-search-wrap">
                  <!-- RD Search Form-->
                  <form action="search-results.html" method="GET" class="form-search rd-search">
                    <div class="form-group">
                      <label for="rd-navbar-form-search-widget" class="form-label form-search-label form-label-sm">Search</label>
                      <input id="rd-navbar-form-search-widget" type="text" name="s" autocomplete="off" class="form-search-input form-control form-control-gray-lightest input-sm"/>
                    </div>
                    <button type="submit" class="form-search-submit"><span class="fa fa-search text-primary"></span></button>
                  </form>
                </div>
                <!-- RD Navbar Nav-->
                <ul class="rd-navbar-nav">
                  <li><a href="index.html"><span>Accueil</span></a>
                  </li>
                  <li><a href="about.html"><span>A propos</span></a>
                  </li>
                  <li><a href="our-team.html"><span>News</span></a>
                  </li>
                  <li><a href="#"><span>Professionnels</span></a>
                    <div class="rd-navbar-megamenu">
                      <div class="row">
                        <div class="col-md-4">
                          <h6>Elements</h6>
                          <hr class="text-subline"/>
                          <ul class="list-unstyled offset-lg-top-25">
                            <li><a href="typography.html">Typography</a></li>
                            <li><a href="forms.html">Forms</a></li>
                          </ul>
                        </div>
                        <div class="col-md-4">
                          <h6>Pages 1</h6>
                          <hr class="text-subline"/>
                          <ul class="list-unstyled offset-lg-top-25">
                            <li><a href="team-member.html">Team Member Profile</a></li>
                            <li><a href="faq.html">FAQ Page</a></li>
                            <li><a href="login.html">Login/Register</a></li>
                          </ul>
                        </div>
                        <div class="col-md-4">
                          <h6>Pages 2</h6>
                          <hr class="text-subline"/>
                          <ul class="list-unstyled offset-lg-top-25">
                            <li><a href="Clients.html">Clients</a></li>
                            <li><a href="partners.html">Partners</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="active"><a href="services.html"><span>Formation</span></a>
                  </li>
                  <li><a href="departments.html"><span>Partenaires</span></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <!-- Modern Breadcrumbs-->
    <section class="breadcrumb-modern context-dark text-md-left">
      <div class="shell section-34 section-md-top-160 section-md-bottom-41">
        <h1 class="text-regular">Services</h1>
        <ul class="list-inline list-inline-arrows p offset-top-34 offset-md-top-70">
          <li><a href="index.html" class="text-white">Home</a></li>
          <li>Services
          </li>
        </ul>
      </div>
    </section>
  </header>
</div>
