<!-- Page-->
<div class="page text-center">
  <!-- Page Head-->
  <header class="page-head rd-navbar-sidebar-toggle-wrap">
    <!-- RD Navbar Transparent-->
    <div class="rd-navbar-wrap">
      <nav class="rd-navbar rd-navbar-sidebar-toggle rd-navbar-light rd-navbar-fixed active" data-lg-auto-height="true" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-lg-stick-up="false" data-lg-hover-on="false">
        <div class="rd-navbar-inner">
          <!-- RD Navbar Panel-->
          <div class="rd-navbar-panel">
            <!-- RD Navbar Toggle-->
            <button data-rd-navbar-toggle=".rd-navbar, .rd-navbar-nav-wrap" class="rd-navbar-toggle"><span></span></button>
            <!-- RD Navbar Toggle-->
            <button data-rd-navbar-toggle=".rd-navbar, .swiper-top-panel" class="rd-navbar-top-panel-toggle"><span></span></button>
          </div>
          <div class="rd-navbar-menu-wrap">
            <div class="rd-navbar-nav-wrap">
              <div class="rd-navbar-mobile-scroll-holder">
                <div class="rd-navbar-mobile-scroll">
                  <!--Navbar Brand Mobile-->
                  <div class="rd-navbar-brand veil reveal-md-inline-block"><a href="/" class="veil reveal-lg-inline-block"><%= cl_image_tag "d595b7_a2b7f4d6f3504368ba7822b3d48b9a46-mv2_fotrsm.png", :height=>99, :crop=>"scale" , class:'img-responsive' %></a></div>

                  <!-- RD Navbar Nav-->
                  <ul class="rd-navbar-nav">
                    <li><%= link_to 'A propos', pages_about_path, class: 'btn btn-rounded'%></li>
                    <li><%= link_to 'Notre réseau', profiles_path, class: 'btn btn-rounded'%></li>
                    <li><%= link_to 'Formation', pages_formation_path, class: 'btn btn-rounded'%></li>
                    <li><%= link_to 'Les articles', pages_all_articles_categories_path, class: 'btn btn-rounded'%></p>
                    <li><a href="#"><span>Mon compte</span></a>
                      <ul class="rd-navbar-dropdown">
                        <% if current_user && current_user.profile == nil%>
                          <li><%= link_to 'Créer mon profil', new_profile_path, class: 'btn btn-rounded'%></li>
                          <li><%= link_to 'Se déconnecter', destroy_user_session_path, :method => 'delete' %></li>
                        <% elsif current_user && current_user.profile %>
                          <li><%= link_to 'Voir mon profil', profile_path(current_user.profile), class: 'btn btn-rounded'%></li>
                          <li><%= link_to 'Editer mon profil', edit_profile_path(current_user.profile), class: 'btn btn-rounded'%></li>
                          <li><%= link_to 'Faire un don', new_profile_donation_path(current_user.profile), class: 'btn btn-rounded'%></li>
                          <li> <%= link_to 'Se déconnecter', destroy_user_session_path, :method => 'delete' , class: 'btn btn-rounded'%></li>
                        <% else %>
                          <li> <%= link_to 'Me connecter', new_user_session_path %>
                          </li>
                        <% end %>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </header>
</div>

