<div class="page text-center">
  <!-- Page Header-->
  <header class="page-head">
    <!-- RD Navbar minimal-->
    <div class="rd-navbar-wrap">
      <nav data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-static" data-md-stick-up-offset="120px" data-lg-stick-up-offset="120px" class="rd-navbar rd-navbar-minimal rd-navbar-light " data-lg-auto-height="true" data-md-layout="rd-navbar-static" data-lg-layout="rd-navbar-static" data-lg-stick-up="true">
        <div class="rd-navbar-inner">
          <div class="rd-navbar-top-panel">
            <!--Navbar Brand-->
            <div class="rd-navbar-brand veil reveal-md-inline-block"><a href="/" class="veil reveal-lg-inline-block"><%= image_tag "logo-dark.png", width:'158', height:'45', class:'img-responsive' %></a></div>
            <div>
              <!-- Contact Info-->
              <address class="contact-info reveal-sm-inline-block text-left offset-none">
                <div class="p unit unit-spacing-xs unit-horizontal">
                  <div class="unit-left"><span class="icon icon-xs icon-circle icon-java-filled mdi mdi-phone"></span></div>
                  <div class="unit-body"><a class="text-gray-darker" style="text-decoration: none">+33.3.28.80.7.86</a><br/><a class="text-gray-darker" style="text-decoration: none">hello@handident.com</a></div>
                </div>
              </address>
              <!-- Contact Info-->
              <address class="contact-info reveal-sm-inline-block text-left">
                <div class="p unit unit-horizontal unit-spacing-xs">
                  <div class="unit-left"><span class="icon icon-xs icon-circle icon-java-filled mdi mdi-map-marker"></span></div>
                  <div class="unit-body"><a class="text-gray-darker" style="text-decoration: none">10 rue du Petit Boulevard BP 20127<br/>59653 Villeneuve d'Ascq Cedex</a></div>
                </div>
              </address>
            </div>
          </div>
          <!-- RD Navbar Panel-->
          <div class="rd-navbar-panel">
            <!-- RD Navbar Toggle-->
            <button data-rd-navbar-toggle=".rd-navbar, .rd-navbar-nav-wrap" class="rd-navbar-toggle"><span></span></button>
            <!--Navbar Brand-->
            <div class="rd-navbar-brand veil-md"><a href="/"><%= image_tag "logo-dark.png", width:'160', height:'45', class:'img-responsive' %></a></div>
<!--             <button data-rd-navbar-toggle=".rd-navbar, .rd-navbar-top-panel" class="rd-navbar-top-panel-toggle"><span></span></button> -->
          </div>
          <div class="rd-navbar-menu-wrap" style="margin-bottom: 50px">
            <div class="rd-navbar-nav-wrap">
              <div class="rd-navbar-mobile-scroll">
                <!--Navbar Brand Mobile-->
                <div class="rd-navbar-mobile-brand"><a href="/"><%= image_tag "logo-dark.png", width:'160', height:'45', class:'img-responsive' %></a></div>
                <!-- RD Navbar Nav-->
                <ul class="rd-navbar-nav">
                  <li><a href="/"><span>Accueil</span></a>
                  </li>
                  <li><a <%= link_to 'A propos', pages_about_path %></a>
                  </li>
                  <li><a <%= link_to 'News', pages_all_articles_categories_path %></a>
                  </li>
                  <li><a <%= link_to 'Dentistes', profiles_path %></a>
                  </li>
                  <li class="active"><a <%= link_to 'Formation et Prévention', pages_formation_path %></a>
                  </li>
                  <li><%= link_to 'Partenaires', pages_partnerships_path %></a>
                  </li>
                  <li><a <%= link_to 'Contact', contacts_path %></a>
                  </li>
                  <li>
                    <% if user_signed_in? %>
                      <% if current_user && current_user.profile %>
                        <a <%= link_to 'Mon Compte', profile_path(current_user.profile) %></a>
                        <div class="rd-navbar-megamenu">
                          <div class="row">
                            <div class="col-md-4">
                              <h6>Mes données</h6>
                              <hr class="text-subline"/>
                              <ul class="list-unstyled offset-lg-top-25">
                                <li><a <%= link_to 'Voir mon profil', profile_path(current_user.profile) %></a></li>
                                <li><a <%= link_to 'Editer mon profil', edit_profile_path(current_user.profile) %></a></li>
                                <li><a <%= link_to 'Se déconnecter', edit_profile_path(current_user.profile) %></a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      <% end %>
                    <% else %>
                      <a <%= link_to 'Me connecter', new_user_session_path %></a>
                    <% end %>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </header>
</div>
