
<div class="page text-center">
      <!-- Page Contents-->
      <main class="page-content">
        <!-- Masonry Blog-->
        <div id="fb-root"></div>
        <section class="section-98 section-sm-110">
          <div class="shell">
            <div class="range range-xs-center">
              <div class="cell-md-10 cell-lg-8">

                <h1>Mes demandes de rdv</h1>

                <% @profile = Profile.find_by_id(current_user.profile.id) %>
                <% @rdvs = Meeting.where(destinataire: "#{@profile.last_name} #{@profile.first_name}") %>

                <% @rdvs.each do |rdv| %>
                  <% pro = Profile.find_by_id(rdv.profile_id) %>



                <div class="range range-xs-center" id="choicetheme">
                  <div class="cell-sm-6">
    <!-- Post Modern-->
                    <article class="post post-modern post-modern-classic">
      <!-- Post media-->
                      <% if pro.photo.present? %>
                        <header class="post-media"><%= image_tag pro.photo, width:"100", height:"100", class:"img-responsive img-cover" %>
                        </header>
                      <% else %>
                        <header class="post-media"><img width="100" height="100" src="http://res.cloudinary.com/dz83jh064/image/upload/v1517825470/images_z0whi1.png" alt=""/></header>
                      <% end %>
      <!-- Post content-->
                      <section class="post-content text-left">
        <!-- Post Title-->
                        <div class="post-title offset-top-8">
                          <h4 class="text-bold"> Patient: <%=pro.last_name%> <%=pro.first_name%>  </h4>
                        </div>
                        <ul >
                          <li><%= rdv.created_at %></li>
                          <li><p class="text-secondary">Motif: <%=rdv.reason%></p></li>
                        <li>
                          <div class="post-body" style="margin-bottom: 30px;">
                            <p>Disponibilités: <%= rdv.disponibility %></p>
                          </div>
                        </li>
                      </ul>
        <!-- Post Body-->
                      </section>
                    </article>
                  </div>

                </div>
              <p><%= link_to 'Repondre', new_profile_message_path(@profile, destinataire: "#{pro.last_name} #{pro.first_name}"), class: 'btn-fullwidth btn-ellipse btn btn-primary'%></p>
              <p><%= link_to 'Effacer', profile_meeting_path(@profile,rdv), class: 'btn-fullwidth btn-ellipse btn btn-danger', method: :delete,data: { confirm: "Etes vous sûr?" }%></p>


            <% end %>
              </div>

            </div>
          </div>
        </section>
      </main>
    </div>
