
<!-- Page-->
<div class="page text-center">
  <!-- faire un don-->
  <section class="section-98 section-sm-110 text-left">
    <div class="shell">
      <div class="range range-xs-center">
        <div class="cell-xs-10 cell-md-8">
          <h2>Vous souhaitez rejoindre l'aventure ?</h2>
          <hr class="divider divider-lg bg-secondary hr-left-0 hr-sm-left-2">
          <div class="offset-top-41 offset-lg-top-60">
            <h3>Pourquoi soutenir HANDIDENT?</h3>
            <hr class="text-subline">
            <p>En faisant un don à HANDIDENT, vous participez à la prévention et à l’amélioration de l’offre de soins pour les personnes en situation de handicap des HAUTS-DE-FRANCE. Vous rendez possible la création de lieu de soins adaptés et spécifiques les USOS, qui permettent de donner des soins dentaires aux personnes en situation de handicap de tous les âges quelles que soient leurs déficiences.</p>
            <h3>Ce que devient votre don</h3>
            <hr class="text-subline">
            <p>Que peut-on faire avec 100 € ?</p>
            <ul>
              <li>Dépister 10 personnes</li>
              <li>Équiper une classe avec 5 livrets Diden pour apprendre l’hygiène buccodentaire aux enfants en situation de handicap accueillis</li>
              <li>Offrir un atelier éducationnel pour 2 personnes en situation de handicap</li>
            </ul>
            <p>Il n’y a pas de petites sommes, chaque don est important !</p>
            <h3>Déductions fiscales</h3>
            <hr class="text-subline">
            <p>Savez-vous que 66% de votre don à HANDIDENT sont déductibles de vos impôts, dans la limite de 20% de votre revenu net imposable. Nous vous fournirons un reçu vous permettant de faire valoir vos droits. N’hésitez pas à nous contacter pour plus d’informations au 03 28 80 07 86.</p>
            <p><strong>Un don de 100 euros ne vous coûte en réalité que 34 euros après déduction fiscale.</strong></p>
            <p>Vous pouvez adresser vos dons par chèque libellé à l’ordre de :</p>
            <p>Association HANDIDENT</p>
            <p>10 rue du Petit Boulevard</p>
            <p>BP 20127</p>
            <p>59653 Villeneuve d’Ascq Cedex</p>
          </div>
        </div>
        <div class="cell-xs-10 cell-md-4 offset-top-41 offset-md-top-0">
          <h3>Faites un don</h3>
          <hr class="text-subline">
          <div class="offset-top-30">
            <a href="team-member.html" class="btn-fullwidth btn btn-primary btn-ellipse" style="margin-top:20px">Je fais un don</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- entreprise partenaires-->
  <section class="section-98 section-sm-110 text-left">
    <div class="shell">
      <div class="range range-xs-center">
        <div class="cell-xs-10 cell-md-8">
          <h2>Entreprises, affirmez vos valeurs, soutenez-nous!</h2>
          <hr class="divider divider-lg bg-secondary hr-left-0 hr-sm-left-2">
          <div class="offset-top-41 offset-lg-top-60">
            <p>Votre entreprise place comme nous l’humain au cœur de ses préoccupations et vous souhaitez être acteur d’une société inclusive, alors soutenez HANDIDENT. L’association mène des actions concrètes en faveur de la santé buccodentaire des personnes en situation de handicap de tous les âges et toutes déficiences, par le dépistage, la formation et l’offre de soins spécifiques et adaptés.</p>
            <p>​L’activité est lisible et mesurable depuis plus de 10 ans. HANDIDENT a reçu un avis favorable de la Direction Générale des Finances Publiques pour se déclarer organismes d’intérêt général. Pour soutenir nos actions vous pouvez :</p>
            <h3>Faire un don</h3>
            <hr class="text-subline">
            <p>L’association HANDIDENT s’est donné pour objectif de faciliter l’accès aux soins et à la prévention buccodentaires par la prévention, la formation ainsi que par la création de plusieurs Unités de Santé Orale Spécifique sur la région des HAUTS-De-France. Chaque personne quels que soient son handicap, son âge et sa condition sociale, doit pouvoir accéder et bénéficier de soins buccodentaires adaptés, à proximité de son lieu de résidence.</p>
            <p>Lorsque vous faites un don de 1 000 € vous avez en réalité un coût 400 € après la déduction fiscale de 60%.</p>
            <div class="offset-top-30">
              <a href="team-member.html" class="btn-fullwidth btn btn-primary btn-ellipse" style="margin-top:20px; margin-bottom:20px">Je fais un don</a>
            </div>
            <h3>Défiscalisation, le saviez-vous?</h3>
            <hr class="text-subline">
            <p>La loi du 1er Août 2003 sur le mécénat vous permet de :</p>
            <ul>
              <li>Déduire 60 % du montant du don de votre impôt sur les sociétés dans la limite de 0,5 pour mille du chiffre d'affaires de l'entreprise</li>
              <li>Etendre sur 5 ans l'avantage fiscal résultant de son don au-delà du plafond des 5 ‰ du chiffre d’affaires.</li>
            </ul>
            <p>L’association HANDIDENT vous fournit un justificatif (reçu fiscal) vous permettant de faire valoir ces droits.</p>
            <h3>Mécénat de compétences</h3>
            <hr class="text-subline">
            <p>Le mécénat de compétences consiste à mettre à disposition d’une association, des salariés volontaires sur leur temps de travail. Ces actions valorisent le salarié qui souhaite se sentir utile pour la société. Il développe dès lors de nouvelles compétences qu’il pourra transmettre au sein.</p>
            <hr class="text-subline">
            <p>Vous pouvez adresser vos dons par chèque libellé à l’ordre de :</p>
            <p>Association HANDIDENT</p>
            <p>10 rue du Petit Boulevard</p>
            <p>BP 20127</p>
            <p>59653 Villeneuve d’Ascq Cedex</p>
          </div>
        </div>
        <div class="cell-xs-10 cell-md-4 offset-top-41 offset-md-top-0">
          <h3>Devenez partenaire</h3>
          <hr class="text-subline">
          <div class="offset-top-30">
            <a href="team-member.html" class="btn-fullwidth btn btn-primary btn-ellipse" style="margin-top:20px">Je deviens partenaire</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Page-->
  <main class="page-content section-98 section-sm-110">
    <!-- Buttons-->
    <!-- Masonry gallery-->
    <section class="section-98 section-sm-110" style="padding-top: 0px;">
      <div class="shell">
        <div class="isotope-wrap">
          <div class="row">
            <!-- Isotope Filters-->
            <div class="col-lg-12">
              <div class="isotope-filters isotope-filters-horizontal" style="padding: 0px;">
                <ul class="list-inline list-inline-sm">
                  <li class="veil-md">
                    <p>Choose your category:</p>
                  </li>
                  <li class="section-relative" style="padding: 0px;">
                    <button data-custom-toggle="isotope-1" data-custom-toggle-disable-on-blur="true" class="isotope-filters-toggle btn btn-sm btn-default">Filter<span class="caret"></span></button>
                    <ul id="isotope-1" class="list-sm-inline isotope-filters-list">
                      <li><a data-isotope-filter="*" data-isotope-group="gallery" href="#" class="active">Tous</a></li>
                      <li><a data-isotope-filter="Tab 1" data-isotope-group="gallery" href="#">Financeurs Publics</a></li>
                      <li><a data-isotope-filter="Tab 2" data-isotope-group="gallery" href="#">Financeurs Privés</a></li>
                      <li><a data-isotope-filter="Tab 3" data-isotope-group="gallery" href="#">Partenaires</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
            <!-- Isotope Content-->
            <div class="col-lg-12 offset-top-34">
              <div data-isotope-layout="masonry" data-isotope-group="gallery" class="isotope">
                <div data-photo-swipe-gallery="gallery" class="row">
                  <div data-filter="Tab 1" class="col-xs-12 col-sm-6 col-md-4 isotope-item"><a class="thumbnail-custom" data-photo-swipe-item="" data-size="1200x800" href="https://www.ars.sante.fr/" target="_blank">
                      <figure><%= image_tag "gallery/Partnership_ars-643x390.jpg", width:"322", height:"195", alt:"" %>
                        <figcaption class="thumbnail-custom-caption text-center">
                          <h4 class="thumbnail-custom-title text-white">Voir le site</h4>
                          <hr class="divider divider-xs bg-white"/>
                        </figcaption>
                      </figure></a>
                  </div>
                  <div data-filter="Tab 1" class="col-xs-12 col-sm-6 col-md-4 isotope-item"><a class="thumbnail-custom" data-photo-swipe-item="" data-size="1200x800" href="https://www.ameli.fr/">
                      <figure><%= image_tag "gallery/Partnership_cpam-689x315.jpg", width:"345", height:"158", alt:"" %>
                        <figcaption class="thumbnail-custom-caption text-center">
                          <h4 class="thumbnail-custom-title text-white">Voir le site</h4>
                          <hr class="divider divider-xs bg-white"/>
                        </figcaption>
                      </figure></a>
                  </div>
                  <div data-filter="Tab 2" class="col-xs-12 col-sm-6 col-md-4 isotope-item"><a class="thumbnail-custom" data-photo-swipe-item="" data-size="1200x800" href="https://www.pierre-fabre.com/fr">
                      <figure><%= image_tag "gallery/Partnership_Pierre_Fabre-425x296.jpg", width:"425", height:"296", alt:"" %>
                        <figcaption class="thumbnail-custom-caption text-center">
                          <h4 class="thumbnail-custom-title text-white">Voir le site</h4>
                          <hr class="divider divider-xs bg-white"/>
                        </figcaption>
                      </figure></a>
                  </div>
                  <div data-filter="Tab 3" class="col-xs-12 col-sm-6 col-md-4 isotope-item"><a class="thumbnail-custom" data-photo-swipe-item="" data-size="1200x800" href="http://www.nord-pas-de-calais.unapei.org/L-Urapei-Nord-Pas-de-Calaisg">
                      <figure><%= image_tag "gallery/Partnership_urapei-720×240.jpg", width:"360", height:"120", alt:"" %>
                        <figcaption class="thumbnail-custom-caption text-center">
                          <h4 class="thumbnail-custom-title text-white">Voir le site</h4>
                          <hr class="divider divider-xs bg-white"/>
                        </figcaption>
                      </figure></a>
                  </div>
                  <div data-filter="Tab 3" class="col-xs-12 col-sm-6 col-md-4 isotope-item"><a class="thumbnail-custom" data-photo-swipe-item="" data-size="1200x800" href="http://www.trisomie21-france.orgg">
                      <figure><%= image_tag "gallery/Partnership_T21somie-1606×640.jpg", width:"402", height:"160", alt:"" %>
                        <figcaption class="thumbnail-custom-caption text-center">
                          <h4 class="thumbnail-custom-title text-white">Voir le site</h4>
                          <hr class="divider divider-xs bg-white"/>
                        </figcaption>
                      </figure></a>
                  </div>
                  <div data-filter="Tab 3" class="col-xs-12 col-sm-6 col-md-4 isotope-item"><a class="thumbnail-custom" data-photo-swipe-item="" data-size="1200x800" href="http://chbd59.blogspot.lu/">
                      <figure><%= image_tag "gallery/Partnership_chbd-240×156.jpg", width:"240", height:"156", alt:"" %>
                        <figcaption class="thumbnail-custom-caption text-center">
                          <h4 class="thumbnail-custom-title text-white">Voir le site</h4>
                          <hr class="divider divider-xs bg-white"/>
                        </figcaption>
                      </figure></a>
                  </div>
                  <div data-filter="Tab 3" class="col-xs-12 col-sm-6 col-md-4 isotope-item"><a class="thumbnail-custom" data-photo-swipe-item="" data-size="1200x800" href="https://www.apf.asso.fr/">
                      <figure><%= image_tag "gallery/Partnership_APF-300x217.jpg", width:"300", height:"217", alt:"" %>
                        <figcaption class="thumbnail-custom-caption text-center">
                          <h4 class="thumbnail-custom-title text-white">Voir le site</h4>
                          <hr class="divider divider-xs bg-white"/>
                        </figcaption>
                      </figure></a>
                  </div>
                  <div data-filter="Tab 3" class="col-xs-12 col-sm-6 col-md-4 isotope-item"><a class="thumbnail-custom" data-photo-swipe-item="" data-size="1200x800" href="http://www.urpsml-hdf.fr">
                      <figure><%= image_tag "gallery/Partnership_URPS-2805×1043.jpg", width:"401", height:"149", alt:"" %>
                        <figcaption class="thumbnail-custom-caption text-center">
                          <h4 class="thumbnail-custom-title text-white">Voir le site</h4>
                          <hr class="divider divider-xs bg-white"/>
                        </figcaption>
                      </figure></a>
                  </div>
                  <div data-filter="Tab 3" class="col-xs-12 col-sm-6 col-md-4 isotope-item"><a class="thumbnail-custom" data-photo-swipe-item="" data-size="1200x800" href="http://www.ufsbd.fr/">
                      <figure><%= image_tag "gallery/Partnership_ufsbd-1181×393.jpg", width:"394", height:"131", alt:"" %>
                        <figcaption class="thumbnail-custom-caption text-center">
                          <h4 class="thumbnail-custom-title text-white">Voir le site</h4>
                          <hr class="divider divider-xs bg-white"/>
                        </figcaption>
                      </figure></a>
                  </div>
                  <div data-filter="Tab 3" class="col-xs-12 col-sm-6 col-md-4 isotope-item"><a class="thumbnail-custom" data-photo-swipe-item="" data-size="1200x800" href="http://www.ordre-chirurgiens-dentistes.fr">
                      <figure><%= image_tag "gallery/Partnership_oncd-1181×591.jpg", width:"394", height:"197", alt:"" %>
                        <figcaption class="thumbnail-custom-caption text-center">
                          <h4 class="thumbnail-custom-title text-white">Voir le site</h4>
                          <hr class="divider divider-xs bg-white"/>
                        </figcaption>
                      </figure></a>
                  </div>
                  <div data-filter="Tab 3" class="col-xs-12 col-sm-6 col-md-4 isotope-item"><a class="thumbnail-custom" data-photo-swipe-item="" data-size="1200x800" href="https://www.visiodent.com/">
                      <figure><%= image_tag "gallery/Partnership_Visiodent-640×480.jpg", width:"427", height:"320", alt:"" %>
                        <figcaption class="thumbnail-custom-caption text-center">
                          <h4 class="thumbnail-custom-title text-white">Voir le site</h4>
                          <hr class="divider divider-xs bg-white"/>
                        </figcaption>
                      </figure></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>
<!-- Java script-->
<script src="assets/core.min.js"></script>
<script src="assets/script.js"></script>
