
<!-- Page-->
<div class="page text-center">
  <!-- faire un don-->
  <!-- entreprise partenaires-->
  <!-- Page-->
  <main class="page-content section-98 section-sm-110">
    <!-- Buttons-->
    <!-- Masonry gallery-->
    <section class="section-98 section-sm-110" style="padding-top: 0px;">
      <div class="shell">
        <div class="isotope-wrap">
          <div class="row">
            <!-- Isotope Filters-->
            <div class="col-lg-12">
              <div class="isotope-filters isotope-filters-horizontal" style="padding: 0px;">
                <ul class="list-inline list-inline-sm">
                  <li class="veil-md">
                    <p>Choose your category:</p>
                  </li>
                  <li class="section-relative" style="padding: 0px;">
                    <button data-custom-toggle="isotope-1" data-custom-toggle-disable-on-blur="true" class="isotope-filters-toggle btn btn-sm btn-default">Filter<span class="caret"></span></button>
                    <ul id="isotope-1" class="list-sm-inline isotope-filters-list">
                      <li><a data-isotope-filter="*" data-isotope-group="gallery" href="#" class="active">Tous</a></li>
                      <li><a data-isotope-filter="Tab 1" data-isotope-group="gallery" href="#">Financeurs Publics</a></li>
                      <li><a data-isotope-filter="Tab 2" data-isotope-group="gallery" href="#">Financeurs Privés</a></li>
                      <li><a data-isotope-filter="Tab 3" data-isotope-group="gallery" href="#">Partenaires</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
            <!-- Isotope Content-->
            <div class="col-lg-12 offset-top-34">
              <div data-isotope-layout="masonry" data-isotope-group="gallery" class="isotope">
                <div data-photo-swipe-gallery="gallery" class="row">
                  <div data-filter="Tab 1" class="col-xs-12 col-sm-6 col-md-4 isotope-item"><a class="thumbnail-custom" data-photo-swipe-item="" data-size="1200x800" href="https://www.ars.sante.fr/" target="_blank">
                      <figure><%= image_tag "gallery/Partnership_ars-643x390.jpg", width:"322", height:"195", alt:"" %>
                        <figcaption class="thumbnail-custom-caption text-center">
                          <h4 class="thumbnail-custom-title text-white">Voir le site</h4>
                          <hr class="divider divider-xs bg-white"/>
                        </figcaption>
                      </figure></a>
                  </div>
                  <div data-filter="Tab 1" class="col-xs-12 col-sm-6 col-md-4 isotope-item"><a class="thumbnail-custom" data-photo-swipe-item="" data-size="1200x800" href="https://www.ameli.fr/">
                      <figure><%= image_tag "gallery/Partnership_cpam-689x315.jpg", width:"345", height:"158", alt:"" %>
                        <figcaption class="thumbnail-custom-caption text-center">
                          <h4 class="thumbnail-custom-title text-white">Voir le site</h4>
                          <hr class="divider divider-xs bg-white"/>
                        </figcaption>
                      </figure></a>
                  </div>
                  <div data-filter="Tab 2" class="col-xs-12 col-sm-6 col-md-4 isotope-item"><a class="thumbnail-custom" data-photo-swipe-item="" data-size="1200x800" href="https://www.pierre-fabre.com/fr">
                      <figure><%= image_tag "gallery/Partnership_Pierre_Fabre-425x296.jpg", width:"425", height:"296", alt:"" %>
                        <figcaption class="thumbnail-custom-caption text-center">
                          <h4 class="thumbnail-custom-title text-white">Voir le site</h4>
                          <hr class="divider divider-xs bg-white"/>
                        </figcaption>
                      </figure></a>
                  </div>
                  <div data-filter="Tab 3" class="col-xs-12 col-sm-6 col-md-4 isotope-item"><a class="thumbnail-custom" data-photo-swipe-item="" data-size="1200x800" href="http://www.nord-pas-de-calais.unapei.org/L-Urapei-Nord-Pas-de-Calaisg">
                      <figure><%= image_tag "gallery/Partnership_urapei-720×240.jpg", width:"360", height:"120", alt:"" %>
                        <figcaption class="thumbnail-custom-caption text-center">
                          <h4 class="thumbnail-custom-title text-white">Voir le site</h4>
                          <hr class="divider divider-xs bg-white"/>
                        </figcaption>
                      </figure></a>
                  </div>
                  <div data-filter="Tab 3" class="col-xs-12 col-sm-6 col-md-4 isotope-item"><a class="thumbnail-custom" data-photo-swipe-item="" data-size="1200x800" href="http://www.trisomie21-france.orgg">
                      <figure><%= image_tag "gallery/Partnership_T21somie-1606×640.jpg", width:"402", height:"160", alt:"" %>
                        <figcaption class="thumbnail-custom-caption text-center">
                          <h4 class="thumbnail-custom-title text-white">Voir le site</h4>
                          <hr class="divider divider-xs bg-white"/>
                        </figcaption>
                      </figure></a>
                  </div>
                  <div data-filter="Tab 3" class="col-xs-12 col-sm-6 col-md-4 isotope-item"><a class="thumbnail-custom" data-photo-swipe-item="" data-size="1200x800" href="http://chbd59.blogspot.lu/">
                      <figure><%= image_tag "gallery/Partnership_chbd-240×156.jpg", width:"240", height:"156", alt:"" %>
                        <figcaption class="thumbnail-custom-caption text-center">
                          <h4 class="thumbnail-custom-title text-white">Voir le site</h4>
                          <hr class="divider divider-xs bg-white"/>
                        </figcaption>
                      </figure></a>
                  </div>
                  <div data-filter="Tab 3" class="col-xs-12 col-sm-6 col-md-4 isotope-item"><a class="thumbnail-custom" data-photo-swipe-item="" data-size="1200x800" href="https://www.apf.asso.fr/">
                      <figure><%= image_tag "gallery/Partnership_APF-300x217.jpg", width:"300", height:"217", alt:"" %>
                        <figcaption class="thumbnail-custom-caption text-center">
                          <h4 class="thumbnail-custom-title text-white">Voir le site</h4>
                          <hr class="divider divider-xs bg-white"/>
                        </figcaption>
                      </figure></a>
                  </div>
                  <div data-filter="Tab 3" class="col-xs-12 col-sm-6 col-md-4 isotope-item"><a class="thumbnail-custom" data-photo-swipe-item="" data-size="1200x800" href="http://www.urpsml-hdf.fr">
                      <figure><%= image_tag "gallery/Partnership_URPS-2805×1043.jpg", width:"401", height:"149", alt:"" %>
                        <figcaption class="thumbnail-custom-caption text-center">
                          <h4 class="thumbnail-custom-title text-white">Voir le site</h4>
                          <hr class="divider divider-xs bg-white"/>
                        </figcaption>
                      </figure></a>
                  </div>
                  <div data-filter="Tab 3" class="col-xs-12 col-sm-6 col-md-4 isotope-item"><a class="thumbnail-custom" data-photo-swipe-item="" data-size="1200x800" href="http://www.ufsbd.fr/">
                      <figure><%= image_tag "gallery/Partnership_ufsbd-1181×393.jpg", width:"394", height:"131", alt:"" %>
                        <figcaption class="thumbnail-custom-caption text-center">
                          <h4 class="thumbnail-custom-title text-white">Voir le site</h4>
                          <hr class="divider divider-xs bg-white"/>
                        </figcaption>
                      </figure></a>
                  </div>
                  <div data-filter="Tab 3" class="col-xs-12 col-sm-6 col-md-4 isotope-item"><a class="thumbnail-custom" data-photo-swipe-item="" data-size="1200x800" href="http://www.ordre-chirurgiens-dentistes.fr">
                      <figure><%= image_tag "gallery/Partnership_oncd-1181×591.jpg", width:"394", height:"197", alt:"" %>
                        <figcaption class="thumbnail-custom-caption text-center">
                          <h4 class="thumbnail-custom-title text-white">Voir le site</h4>
                          <hr class="divider divider-xs bg-white"/>
                        </figcaption>
                      </figure></a>
                  </div>
                  <div data-filter="Tab 3" class="col-xs-12 col-sm-6 col-md-4 isotope-item"><a class="thumbnail-custom" data-photo-swipe-item="" data-size="1200x800" href="https://www.visiodent.com/">
                      <figure><%= image_tag "gallery/Partnership_Visiodent-640×480.jpg", width:"427", height:"320", alt:"" %>
                        <figcaption class="thumbnail-custom-caption text-center">
                          <h4 class="thumbnail-custom-title text-white">Voir le site</h4>
                          <hr class="divider divider-xs bg-white"/>
                        </figcaption>
                      </figure></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>
