<div class="page text-center">
  <!-- Page Content-->
  <main class="page-content section-98 section-sm-110" >
    <!-- Contact us-->
    <section class="offset-top-90 offset-md-top-130">
      <%= simple_form_for [@profile, @review] do |f| %>
        <div class="shell">
          <div class="range range-xs-center range-lg-left">
            <div class="cell-sm-8">
              <h4 class="text-md-left">Publier un témoignage</h4>
              <hr class="text-subline">
              <div class="offset-top-30">
                <form data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php" novalidate="novalidate" class="rd-mailform text-left">
                  <div class="form-group form-group-label-outside offset-top-20">
                    <%= f.input :review_title ,label: 'Donnez un titre à votre témoignage:', id:"contacts-last-name", type:"text", name:"Adresse", required: true, class: "form-control form-control-last-child" %>
                  </div>
                  <div class="form-group form-group-label-outside offset-top-20">
                    <%= f.input :review_content ,label: 'Votre témoignage:', :as => :text, input_html: {style: 'max-height:1500px;'}, required: true, class: "form-control form-control-last-child" %>
                  </div>
                  <div class="form-group form-group-label-outside offset-top-20">
                    <%= f.input :rating, collection: 1..5,label: 'Evaluez nous de 1 à 5:', id:"contacts-last-name", type:"text", name:"Adresse", required: true, class: "form-control form-control-last-child" %>
                  </div>
                  <div class="offset-top-18 offset-sm-top-30 text-center text-sm-left">
                    <%= f.button :submit, class:"btn-fullwidth btn btn-ellipse btn-primary", style:"font-weight:bold", value:"Pubier mon témoignage" %>
                    <p><%= link_to 'Annuler', profile_path(current_user.profile), class: 'btn-fullwidth btn btn-ellipse btn-white', style:"margin-top:20px"%></p>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </section>
  </main>
</div>

